/*
Color pallete:
    dark blue: #112B3C
    orange: #F66B0E
    blue: #002792, #205375
    gray: #787878
    darker gray: #4E4E4E
*/
a{
    text-decoration: none;
    font-size: 14px;
}
.heading{
    background-color: #112B3C;
}
.login-signup{
    background-color: #fff;
    width: 50%;
}
.login-signup-col{
    padding: 0;
}
.login, .signup{
    padding: 3% 5%; 
    color: #fff;
}
.input-fields{
    padding: 3% 5%; 
}
.title{
    color: #fff;
    text-align: center;
    padding: 3% 5%;
    font-size: 3.5rem;
}

.modal-header{
    background-color: #205375;
    color: #fff;
}
/**********************************/
.navbar{
    background-color:#205375;
}
.navbar-brand{
    font-weight: bold;
}

/*Question Input*/
/**********************************/
.avatar{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline;
    object-fit: cover;

}
.question-input{
    width: 500px;
}
.modal{
    background-color: "#112B3C";
}

.btn{
    background-color: #F66B0E;
    border: 0;
}

.btn:hover, .btn:focus{
    background-color: #dd5800;
}

/*Post preview*/
/************************/

.post-preview{
    width: 500px;
    margin: 10px;
}
.name{
    font-weight: bold;
    margin-left: 10px; 
}
.time{
    color: #4E4E4E;
    font-size: 12px;
}

.icon{
    font-size: 18px;
}
.icon-button{
    color: #000;
}
.icon-button:hover{
    color: #F66B0E;
}

/*Users*/
/************************/
.head{
    padding: 3% 5%;
}
.user-list {
    padding: 3% 5%;
}

/*Post expanded*/
/************************/

.post-detailed{
    width: 500px;
    margin: 20px 10px 0 10px;
}
.comment-section{
    width: 500px;
    margin: 10px auto;
    
}
.send-icon{
    font-size: 18px;
}
.send-icon:hover{
    color: #F66B0E;
    cursor: pointer;
}

/*Comments*/
.comment-thread{
    width: 400px;
    margin: 20px 10px 0 10px;
}
.comment-content{
    font-size: 14px;
}
.thumbs-up{
    display: inline;
}
.reply{
    display: inline;
    margin-left: 12px;
}
.thumbs-up:hover, .reply:hover{
    color: #F66B0E;
    cursor: pointer;
}
/*Post with answers*/
p{
    color: #4E4E4E;
}
.user-details{
    width: 500px;
}
.user-details h6{
    margin-bottom: 2px;
}
.question{
    margin-top: 20px;
    width: 75%;
}
.answer-input{
    width: 75%;
}
.post{
    padding: 3rem;
}
.answers{
    padding: 3rem;
}
.answers-heading{
    background-color: #112B3C;
    color: #fff;
    padding: 2% 3%;
}
.answer-content{
    padding: 5%;
}
.answer-field{
    width: 300px;
}
.answer-icons{
    padding-left: 5%;
    padding-bottom: 5%;
}
/*Media queries*/
/************************/

@media (max-width: 990px){
    .user{
        margin-bottom: 20px;
    }
    
}
@media  (min-width: 990px) and (max-width: 1180px){
    .answer-field{
        margin-left: 10px;
        width: 200px;
    }
}
@media (max-width: 600px){
    .answer-field{
        margin-left: 20px;
        width: 200px;
    }
}